            * {
                user-select: none;
                -webkit-user-select: none;
            }
            
            @font-face {
                font-family: 'Girdo';
                src: url('GirdoBlackRegular.woff2') format('woff2'), url('GirdoBlackRegular.woff') format('woff');
                font-weight: 900;
                font-style: normal;
                font-display: swap;
            }
            
            @font-face {
                font-family: 'CircularStd-Book';
                src: url('CircularStd-Book.woff2') format('woff2'), url('CircularStd-Book.woff') format('woff');
                font-weight: 500;
                font-style: normal;
                font-display: swap;
            }
            
            @font-face {
                font-family: 'Girdo';
                src: url('GirdoBlackRegular.woff2') format('woff2'), url('GirdoBlackRegular.woff') format('woff');
                font-weight: 900;
                font-style: normal;
                font-display: swap;
            }
            
            @font-face {
                font-family: 'Circular Std Book';
                src: url('CircularStd-Book.woff2') format('woff2'), url('CircularStd-Book.woff') format('woff');
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
            
            @keyframes fadeBackground {
                0%,
                100% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
            }
            
            @keyframes fadeBackground {
                0%,
                100% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
            }
            
            @keyframes dissolve {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            @keyframes openDialog {
                0% {
                    scale: 0;
                }
                100% {
                    scale: 1;
                }
            }
            
            @keyframes close {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
            
            body.scroll-lock::-webkit-scrollbar {
                display: none;
            }
            
            html {
                overflow-y: hidden;
            }
            
            .background-video {
                display: block;
                Object-fit: cover;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .fullscreen-button {
                position: fixed;
                top: 10px;
                right: 10px;
                width: 50px;
                height: 50px;
                z-index: 1000;
                background: none;
                border: none;
                cursor: pointer;
            }
            
            .fullscreen-button:hover {
                opacity: 0.6;
            }
            
            .fullscreen-button:focus {
                outline: none;
            }
            
            h1 {
                font-size: 4rem;
                width: 60%;
            }
            
            h2 {
                font-size: 2.8rem;
            }
            
            h1,
            h2 {
                font-family: 'Girdo';
                color: #733015;
                text-align: center;
            }
            
            p {
                font-family: 'Circular Std', sans-serif;
                color: #f4f4f4;
                line-height: 25px;
                max-width: 420px;
            }
            
            dialog {
                border: none;
                border-radius: 30px;
                animation: openDialog 500ms linear;
                .kruisje {
                    width: 50px;
                    position: sticky;
                    top: 2%;
                    z-index: 2;
                }
            }
            
            dialog::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
            }
            
            .no-scroll::-webkit-scrollbar {
                display: none;
            }
            
            .intro-1,
            .intro-2,
            .intro-3,
            .supermarkt,
            .bootreis-heen-2,
            .boot-heen,
            .ivoorkust,
            .boot-terug,
            .outro-1,
            .outro-2,
            .outro-3,
            .outro-4,
            .outro-5 {
                display: none;
                width: 100vw;
                height: 100vh;
            }
            
            .pijltje,
            .kruisje {
                cursor: pointer;
                z-index: 2;
            }
            
            .intro-1 {
                padding-top: 15%;
            }
            
            .introOutro h1,
            .mobile h1 {
                filter: url(#squiggly-1);
                animation: squiggly-anim 0.8s linear infinite;
            }
            
            .introOutro {
                background-image: url('/assets/achtergrondstructuur.png');
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 60px;
                .geluid {
                    font-weight: 600;
                    font-size: 0.8rem;
                    color: #733015;
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    opacity: 0;
                    animation: dissolve 500ms linear;
                    animation-delay: 3000ms;
                    animation-fill-mode: forwards;
                    &.fadeIn {
                        animation: close 500ms linear;
                        opacity: 0;
                    }
                }
            }
            
            .boot-heen,
            .boot-terug,
            .ivoorkust {
                animation: dissolve 800ms linear;
            }
            
            .boot-heen {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden
            }
            
            .boot-heen video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 100;
            }
            
            .ivoorkust {
                width: max-content;
            }
            
            .ivoorkustImg {
                display: flex;
                flex-direction: row;
                position: relative;
                .ivoorkustTekst {
                    font-size: 1.5rem;
                    position: absolute;
                    max-width: 300px;
                    top: 70%;
                    left: 1%;
                    opacity: 0;
                    animation: dissolve 500ms linear;
                    animation-delay: 8000ms;
                    animation-fill-mode: forwards;
                    &.fadeIn {
                        animation: close 500ms linear;
                        opacity: 0;
                    }
                }
            }
            
            .hoverText {
                position: absolute;
                top: 60%;
                left: 60%;
            }
            
            .relative {
                height: 100vh;
            }
            
            .open {
                position: absolute;
                z-index: 2;
                cursor: pointer;
            }
            
            .open1 {
                width: 7.2%;
                top: 32%;
                left: 19.4%;
            }
            
            .open2 {
                width: 17.3%;
                top: 14%;
                left: 27%;
            }
            
            .open3 {
                width: 20%;
                top: 27.9%;
                left: 3.9%;
            }
            
            .open4 {
                width: 8%;
                top: 10.2%;
                left: 11.7%;
            }
            
            .open5 {
                width: 5%;
                top: 19.1%;
                left: 67.7%;
            }
            
            .open6 {
                width: 4.3%;
                top: 56.8%;
                left: 47.3%;
            }
            
            .open7 {
                width: 7.6%;
                top: -0.3%;
                left: 29.3%;
            }
            
            .open8 {
                width: 4%;
                top: 30%;
                left: 20.4%;
            }
            
            .open9 {
                width: 4.3%;
                top: 3.8%;
                left: 36%;
            }
            
            .open10 {
                width: 52.2%;
                top: 22.8%;
                left: 9.25%;
                position: absolute;
                z-index: 2;
                cursor: pointer;
            }
            
            .modalBron {
                width: 65vw;
                height: 80vh;
                background-color: #733015;
                outline: none;
                h2 {
                    color: #f4f4f4;
                }
                .kruisje {
                    left: 93%;
                }
            }
            
            .modalVideo {
                width: 95vw;
                height: 95vh;
                outline: none;
                video {
                    border: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                    object-fit: cover;
                    margin: 0;
                }
                .kruisje {
                    left: 95%;
                }
            }
            
            .flex {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 80px;
                padding-top: 10px;
                padding-bottom: 30px;
                img {
                    width: 200px;
                }
                p {
                    max-width: 290px;
                }
                h2 {
                    text-align: left;
                    padding-bottom: 10px;
                    max-width: 300px;
                }
            }
            
            .bio {
                padding-bottom: 40px;
            }
            
            .grafiekTitel {
                font-size: 2.3rem;
            }
            
            .grafiek {
                display: flex;
                gap: 30px;
                margin-bottom: 10px;
            }
            
            .infoGrafiek {
                display: flex;
                font-weight: 800;
                gap: 225px;
                margin-top: 20px;
                margin-bottom: 10px;
                img {
                    width: 80%;
                    margin-left: 14%;
                    margin-bottom: 20px;
                }
            }
            
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                h2 {
                    width: 550px;
                    padding-top: 30px;
                }
                p {
                    max-width: 600px;
                    padding-top: 10px;
                }
            }
            
            .ontbossingGrafiek {
                width: 80%;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            
            .ivoorkustBegin {
                position: absolute;
                top: 20%;
                left: 10%;
                font-size: 6rem;
                opacity: 0;
                animation: dissolve 500ms linear;
                animation-delay: 1000ms;
                animation-fill-mode: forwards;
                &.fadeOut {
                    animation: close 500ms linear;
                    opacity: 0;
                }
            }
            
            .ivoorEind {
                position: absolute;
                top: 43%;
                left: -57%;
            }
            
            .ivoorPijl {
                position: absolute;
                width: 5em;
                top: 44%;
                left: -31%;
                z-index: 4;
                filter: url("#squiggly-0");
                animation: squiggly-anim 0.8s linear infinite;
            }
            
            @media (max-width: 1250px) {
                .introOutro h1 {
                    font-size: 3.3rem;
                }
                .infoGrafiek {
                    gap: 190px !important;
                }
                .grafiek img {
                    width: 200px;
                }
            }
            
            @media (max-width: 1150px) {
                .grafiek img {
                    width: 150px;
                }
                .infoGrafiek {
                    gap: 140px !important;
                }
            }
            
            @media (max-width: 1024px) {
                main {
                    display: none;
                }
                .mobile {
                    width: 100vw;
                    height: 100vh;
                    background-image: url('/assets/achtergrondstructuur.png');
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h1 {
                        font-size: 3rem;
                    }
                }
            }
            
            @media (min-width: 1024px) {
                main {
                    display: block;
                }
                .mobile {
                    display: none;
                }
            }
            
            @keyframes squiggly-anim {
                0% {
                    -webkit-filter: url("#squiggly-0");
                    filter: url("#squiggly-0");
                }
                25% {
                    -webkit-filter: url("#squiggly-1");
                    filter: url("#squiggly-1");
                }
                50% {
                    -webkit-filter: url("#squiggly-2");
                    filter: url("#squiggly-2");
                }
                75% {
                    -webkit-filter: url("#squiggly-3");
                    filter: url("#squiggly-3");
                }
                100% {
                    -webkit-filter: url("#squiggly-4");
                    filter: url("#squiggly-4");
                }
            }